@use '@/styles' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: $layout-min-width;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  max-width: $layout-max-width;
  margin-inline: auto;
}
